{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}
{% block css %}
.nav-content nav ul li #about-us{
color: #1bff00;
}
{% endblock %}
{% block body %}
<main class="my-5">
    <div class="main-container my-5">
        <section class="information my-5">
            <div class="info-section my-5">
                <h1>About Us</h1>
                <p id="about-us">
                    Staple technology has originated along with conception to save natural and valuable source as a drinking water on earth which is most inestimable for all alive organism and earth.
As per our honorable prime minister Narendra Modi Sir jal jeevan mission and his inspirational words "Har Ghar Nal" the management has decided to develop new technology system for drinking water and follow the same words "Har Ghar Nal, Har Ghar Jal".
Along with our new concept of source & technology, our technology development partner ARION TECH SOL PVT. LTD.which one of the best technology development company and always ready for accept new technology challenges, who had accepted our concept and evaluated new concept IOT base water management system.
                </p>
            </div>
        </section>

    </div>
</main>
{% endblock %}
