{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}
{% block css %}
.nav-content nav ul li #about-us{
color: #1bff00;
}
{% endblock %}
{% block body %}
<main class="my-5">
    <div class="main-container my-5">
        <section class="information my-5">
            <div class="info-section my-5">
                <h1>About Us</h1>
                <p id="about-us">
                    Company aim to provide the multi-tasking service to client in various sector as well as to manage to
                    supply a determine product. We are registered with Udyam Aadhar (MSME) and GeM (Government e
                    Marketplace) by which we provide our services to States & Central Government project with our
                    skilled man powder and determine products.
                    Multi-tasking being one of the expertise area we have gained trust of our clients, our professionals
                    are efficient, reliable and trained from time to time to keep themselves up-to-date with the
                    emerging tools and technologies and serve you better.
                    From idea to development we take care of each and every requirement of our client, we don’t declare
                    our products as completed unless our clients are satisfied.
                    Services:
                    Project developing management.
                    Manpower Management
                    Determine products supply management.
                </p>
            </div>
        </section>

    </div>
</main>
{% endblock %}