<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% block css %}{% endblock %}
    </style>
</head>
<body>
<header>
    <div class="header-container">
        <div class="nav-content">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Staple Minerals">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/" id="home">Home</a></li>
                    <li><a href="/products" id="products">Products</a></li>
                    <li><a href="/about-us" id="about-us">About Us</a></li>
                    <li><a href="/contact-us" id="contact-us">Contact Us</a></li>
                </ul>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </nav>
        </div>
    </div>
</header>
{% block body %}
{% endblock %}
<footer>
    <div class="footer-container">
        <div class="links-container">
            <h3><a href="">About Us</a></h3>
        </div>
        <div class="links-container">
            <h3><a href="">Our Products</a></h3>
        </div>
        <div class="links-container">
            <h3><a href="">Blogs</a></h3>
        </div>
        <div class="links-container">
            <h3><a href="">FAQs</a></h3>
        </div>
        <div class="links-container">
            <h3><a href="">Support</a></h3>
        </div>
    </div>
    <div class="lower-footer">
        <div class="icons-container">
            <ul>
                <li><a href=""><i class="fab fa-spotify"></i></a></li>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-pinterest"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="lower-links-container">
            <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><span>|</span><a href="">Terms of Use</a></li>
                <li><span>|</span><a href="">CA Supply Chain Act</a></li>
                <li><span>|</span><a href="">Submit Your Idea</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© 2021 Staple Minerals Company. All rights reserved.</p>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="{% static 'js/header.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>