{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}
{% block css %}
.nav-content nav ul li #contact-us{
color: #1bff00;
}
{% endblock %}
{% block body %}
<section class="contact my-5">
    <div class="content1">
        <h2>Contact Us</h2>
        <p>Get in touch with our company Staple Technologies
            for any queries or feedback or requesting demo.
        </p>
    </div>
    <div class="container2">
        <div class="contactInfo">
            <div class="box1">
                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="text1">
                        <h3>Address</h3>
                        <p>H-1102, Akash residency, Near Club o7, Club o7 road, Shela, Ahemdabad</p>
                    </div>

            </div>
            <div class="box1">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="text1">
                    <h3>Phone</h3>
                    <p>+91-7573008385</p>
                </div>
            </div>
            <div class="box1">
                <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="text1">
                    <h3>Email</h3>
                    <p>stapleminerals2018@gmail.com</p>
                </div>
            </div>
            </div>
            <div class="contactForm">
                <form action="/contact-us/" method="post">{% csrf_token %}
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="full-name" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="email" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <input type="tel" name="phone" required="required">
                        <span>Phone No.</span>
                    </div>
                    <div class="inputBox">
                        <textarea name="message" id="inputText" cols="30" rows="10" required="required"></textarea>
                        <span>Your Queries/Feedback</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}