{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}
{% block body %}
<div class="my-5 mx-3">
    <div class="slideshow my-5">
        <div class="slideshow-item my-5">
            <img src="https://ariontechsol.com/images/flow-monitor.jpg" alt="">
            <div class="slideshow-item-text my-5">
                <h5>Smart Pump Controller & Monitoring</h5>
                <ul>
                    <li>Electricity Units consumption monitoring</li>
                    <li>Pump health Monitoring</li>
                    <li>Auto off during power fluctuations saving the pump from damage.</li>
                    <li>Auto on/off based on water level.</li>
                    <li>Manual or automatic mode.</li>
                </ul>
                <ul class="cercalList">
                    <li><span>40%</span>efficiency improvement</li>
                    <li><span>101</span>average money saved</li>
                    <li><span>3x</span>wastage prevention</li>
                </ul>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="https://ariontechsol.com/images/flow-monitor-2.jpg" alt="">
            <div class="slideshow-item-text my-5">
                <h5>Level Monitor</h5>
                <p>A multifunctional, IoT based device with easy to use software for lucid visualization of all the
                    parameters needed to effectively monitor and manage water supply-chain from pump house to
                    distribution. A versatile and coherent solution that rests the entire operation of water
                    distribution right there- in the palm of the decision-maker.</p>
                <ul class="cercalList">
                    <li><span>40%</span>efficiency improvement</li>
                    <li><span>101</span>average money saved</li>
                    <li><span>3x</span>wastage prevention</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="my-3 mx-3 border-bottom-3 border-dark">
    <h4 class="text-center">How it Works ?</h4>
    <div class="d-flex how-it-works">
        <div class="container1">
            <div class="left3"></div>
            <div class="right">
                <div class="content">
                    <div class="levelNo">
                        <span>
                            01
                        </span>
                    </div>
                    <h1>Level Monitor</h1>
                    <p>
                        A multifunction IoT based device with easy to use software to view all the parameters needed
                        to effectively monitor & manage water supply-chain from pump house to distribution. This
                        multifunction IoT based device enables the complete control over the whole operation of
                        water distribution in the palm of the decision makers.
                    </p>
                    <a href="/contact-us" class="btn">Request Demo</a>
                </div>
            </div>
        </div>
        <div class="container1">
            <div class="left3"></div>
            <div class="right">
                <div class="content">
                    <div class="levelNo">
                        <span>
                            02
                        </span>
                    </div>
                    <h1>Flow Monitor</h1>
                    <p>
                        A multifunction IoT based device with easy to use software to view all the parameters needed to
                        effectively monitor &amp; manage water supply-chain from pump house to distribution. This
                        multifunction IoT based device enables the complete control over the whole operation of water
                        distribution in the palm of the decision makers.
                    </p>
                    <a href="/contact-us" class="btn">Request Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-3 mx-3">
    <h4 class="text-center">PRODUCT FEATURES & BENEFITS</h4>
    <div class="d-flex product-features">
        <div>
            <div class="d-flex">
                <div class="myimage">
                    <img src="https://ariontechsol.com/images/icon-1.png" alt="" id="keep-track">
                </div>
                <div class="text">
                    <h3 class="border-bottom-3">Keep Track</h3>
                    <ul class="my-3">
                        <li>Monitor water level at desired frequency of time.</li>
                        <li>Alerts via SMS /Email on low & high levels</li>
                        <li>Track all tanks from single dashboard.</li>
                        <li>Digital Display at each location</li>
                        <li>View all tanks on google map.</li>
                    </ul>
                </div>
            </div>
            <div class="d-flex">
                <div class="myimage">
                    <img src="https://ariontechsol.com/images/icon-2.png" alt="">
                </div>
                <div class="text">
                    <h3 class="border-bottom-3">Ease of Use</h3>
                    <ul class="my-3">
                        <li>Wireless Monitoring Solution</li>
                        <li>Remotely Monitor the level in each water tanks.</li>
                        <li>Store Data for 5 years..</li>
                        <li>Plug & Play installation & commissioning.</li>
                        <li>Easy to Maintain.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="my-5 mx-5 monitor-image">
            <img src="https://ariontechsol.com/images/pic-1.jpg" alt="">
        </div>
    </div>
</div>
<hr>
<div class="my-5 mx-3">
    <h4 class="text-center">TECHNICAL DETAILS</h4>
    <div class="d-flex my-5 tech-details">
        <div class="mx-3 monitor-image">
            <img src="https://ariontechsol.com/images/pic-2.jpg" alt="">
        </div>
        <div class="mx-3">
            <h3 class="mt-5">INPUT Type</h3>
            <ul class="my-3">
                <li><strong>Analog:</strong> Level sensor, Rechargeable Battery voltage, Non- Rechargeable voltage</li>
                <li><strong>Digital:</strong> Power identification using 2 Digital Input</li>
            </ul>
            <h3 class="mt-5">ON Board Module</h3>
            <ul class="my-3">
                <li>RTC with EEPROM</li>
                <li>GSM</li>
                <li>Temperature And Humidity</li>
                <li>Acceleration</li>
                <li>Bluetooth</li>
            </ul>
            <h3 class="mt-5">Power Supply</h3>
            <ul class="my-3">
                <li>Solar Panel</li>
                <li>Rechargeable Battery</li>
                <li>Non- Rechargeable Battery</li>
            </ul>
            <h3 class="mt-5">Communication</h3>
            <ul class="my-3">
                <li>SMS</li>
                <li>GPRS (http server)</li>
                <li>I2C</li>
                <li>Bluetooth Serial</li>
                <li><strong>Working:</strong>
                    Read level sensor data, temp. & Humidity values, Acceleration data, time stamp, power status, all
                    battery voltages and send all data to http server / SMS
                </li>
                <li>Setting of parameter is done through SMS / Bluetooth include reading time, sending time, and phone
                    number.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="my-5 mx-3">
    <h4 class="text-center">SEE HOW IT HELPS</h4>
    <div class="d-flex my-3 mx-3 help">
        <div class="help-content">
            <div class="image">
                <img src="https://ariontechsol.com/images/helps.png" alt="">
            </div>
            <div class="text-content">
                <div class="text-title">
                    <h5 class="my-3">Urban Local Bodies</h5>
                </div>
                <div class="my-text">
                    Get real time water data in storage tanks at any given point in time from anywhere, keep track of
                    electricity consumption & monitor the health of water pumps, thus improving your water management
                    efficiency. Prevent water overflow, theft, leakages (non-metered revenue los).
                </div>
            </div>
        </div>
        <div class="help-content">
            <div class="image">
                <img src="https://ariontechsol.com/images/helps.png" alt="">
            </div>
            <div class="text-content">
                <div class="text-title">
                    <h5 class="my-3">Manufacturing Units</h5>
                </div>
                <div class="my-text">
                    Optimise efficiency of your resources to maximum your ROI. Accurate data helps you in quicker
                    planning and efficient operations leading to uninterrupted and seamless water management.
                </div>
            </div>
        </div>
        <div class="help-content">
            <div class="image">
                <img src="https://ariontechsol.com/images/helps.png" alt="">
            </div>
            <div class="text-content">
                <div class="text-title">
                    <h5 class="my-3">Commercial Complexes</h5>
                </div>
                <div class="my-text">
                    Easy to analyse, configure and communicate, Arion Smart Solutions help you detect your problems
                    quicker to improve usability and control incurring costs
                </div>
            </div>
        </div>
        <div class="help-content">
            <div class="image">
                <img src="https://ariontechsol.com/images/helps.png" alt="">
            </div>
            <div class="text-content">
                <div class="text-title">
                    <h5 class="my-3">Residential Entities</h5>
                </div>
                <div class="my-text">
                    Monitor small leaks, irresponsible usage which cause big overhead costs. Bring down your society
                    water and electricity bills and increase water savings. Upgrade your existing water management to
                    smart water management.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-5 mx-3 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center my-3">Smart Pump Controller & Monitoring FAQs</h2>
    <div class="wrapper mt-3">
        <div class="parent-tab">
            <input type="radio" name="tab" id="tab-1">
            <label for="tab-1">
                <span>Do we need skilled manpower to operate the solution?</span>
                <div class="icon"><i class="fas fa-plus"></i></div>
            </label>
            <div class="content">
                <p>
                    No. The Level Monitoring solution is easy to install & operate, any person who can read and write
                    can operate the solution.
                </p>
            </div>

        </div>
        <div class="parent-tab">
            <input type="radio" name="tab" id="tab-2">
            <label for="tab-2">
                <span>What about support in case of malfunctioning in the working of the solution?</span>
                <div class="icon"><i class="fas fa-plus"></i></div>
            </label>
            <div class="content">
                <p>Staple's local support partners are always there for any matter related to hardware support. Besides,
                    the centralized monitoring from the parent company also keeps the track of the hardware
                    functioning.</p>
            </div>

        </div>
        <div class="parent-tab">
            <input type="radio" name="tab" id="tab-3">
            <label for="tab-3">
                <span>How much time does it take to install & commission the solution for use ?</span>
                <div class="icon"><i class="fas fa-plus"></i></div>
            </label>
            <div class="content">
                <p>Its Plug & Play solution and the complete procedure takes about 4 to 5 hours by the end of which the
                    solution is ready for use.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}